*{
    margin:0;
    padding:0;
}
body{
    background-color: white;
    color: #FFAA05;
    font-family: 'Kirang Haerang', cursive;/*font all page*/
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    background: linear-gradient(77deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(252,55,39,1) 65%, rgba(255,170,5,1) 78%, rgba(255,170,5,1) 94%);
}
.nav-buttons{
    display:flex;

}
.button {
    cursor:pointer;
    background-color: transparent;
    color: #FFFFFFFF;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right:2px solid white;
    border-radius: 8px;
    padding:9px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration:none;
    list-style:none;
    transition: background-color .3s
}
.button:hover{
    background-color: #008370;
    transform: scale(1.2);
}

#logo2 {
    height: 75px;
}

footer{
    position: fixed;
    bottom: 0; /*CAMBIOS EN FOOTER, para que se vea botón bien en form
    z-index: 1;*/
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #fff;
    font-size: 65%;
    background: #FC3727;
    opacity: 80%;
}

footer p{
    font-family: "Roboto Light", Tahoma, Arial, sans-serif;

}

/*Estilo para la sección inventory*/

.container {
   /* font-family: Roboto, Tahoma, Calibri;*/
    margin: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.card {
    margin: 20px;
    height: 300px;
    border: 2px solid;
    border-radius: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* display: ; */
    /* flex-wrap: wrap; */
    align-content: space-between;
    padding: 15px;
}
h1{
/*    font-family: Slice, Lego brix, type-2, fast_hand;*/
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:15px;
    font-size: 5rem;
}
h2{
    font-size:3.5rem;
}



/*FORM STYLE*/

.form-group {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.col-md6{               /*campo form*/
    height: 40px;
    font-size: 1.5rem;
    width: 800px;
    border-radius: 10px;
    border: 2px solid #008370;
}

.col-md2{
    font-size: 3.5rem;
}
form {
    display:flex;
    flex-direction: column;
    width:50%;
    margin-top:2rem;
}
input{
    text-align: center; /*centers text input form*/

}

.btn-primary{
    padding: 13px;
    background-color: #008370;
    color: white;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}
.btn-primary:hover {
    transform: scale(1.1);
    transition: background-color .6s
}
.btn-cancel{
    padding: 13px;
    background-color: #97b0aa;
    color:white;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}
.btn-cancel:hover {
    transform: scale(1.1);
    transition: background-color .6s
}
.container-card{
    display: flex;
}
.container-fields {
    display:flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
    color: white;/* Quita subrayado de anchor tag como la de buttons*/
}
.text-games{
    margin:auto;
    font-size: 22px;
}
.game-title {
    font-size: 20px;
    font-weight: bold;
}

.text-games {
    font-size: 18px;
}
.cnt-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    /*margin-top: 10px;*/
    margin: auto;

}
.videogame-img{
    border-radius: 15px;
    margin:auto;
    width:90%;
    /*margin-top:7px*/ /*Margin para alinear las imagenes por arriba cuando sea necesario*/
}
.btn-edit{
    border: none;
    padding: 8px;
    border-radius: 6px;
    background-color: #006e60;
    transition: background-color .8s;
}
.btn-edit:hover{
   /* background-color: #0f9726;#003a03 #a2af9f*/
    background-color: #003a03;
    transform: scale(1.2);

}
.btn-delete{
    border: none;
    padding: 8px;
    border-radius: 6px;
    background-color: #591d00;
    transition: background-color .8s;
}
.btn-delete:hover{
    background-color: red;
    transform: scale(1.2);
}
.card-footer {
    margin-inline-start: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 15px;
}

/*RESPONSIVE form*/

/*small smartphone*/
/*smartphone*/
@media (min-width:320px) and (max-width: 767px) {
    nav{
        height:60px;
    }
    footer{
        height: 20px;
    }
    #logo2{
        height: 60px;
    }
    .container{
        margin-top:0;
    }
    h1 {
        margin-top:0;
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    /*.card {*/
    /*    height: 300px;*/
    /*    width: 200px;*/
    /*}*/
    .card {
        height: 250px;
        width: 150px;
    }
    .videogame-img {
        width: 95%;
        margin-top: 7px;
    }
    .game-title {
        font-size: 18px;
        font-weight: bold;
    }
    .text-games {
        font-size: 15px;
    }
    form {
        width: 95%;
        margin-top: 0.5rem;
    }
    .form-group{
        margin:0.5rem;
    }
    .col-md2{
        font-size: 1.4rem;
    }
    .col-md6 {
        height: 30px;
        font-size: 0.8rem;
        width:300px;
    }
    .button{
        font-size: 15px;
    }
}
/*tablet*/
@media (min-width: 768px)and (max-width:1023px) {

    form {
        width: 90%;
    }


    .game-title {
        font-size: 20px;
        font-weight: bold;
    }

    .text-games {
        font-size: 18px;
    }

    .button {
        font-size: 20px;
    }

    .col-md2 {
        font-size: 2rem;
    }

    .col-md6 {
        height: 30px;
        width: 700px;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

}
@media (min-width: 1024px) and  (max-width:1919px) {
    form {
        width: 60%;
    }

}
@media (min-width: 1920px){
    form{
        width: 45%;
    }
    .game-title {
        font-size: 25px;
    }
    .text-games {
        font-size: 20px;
    }
    .card {
        height: 400px;
        width: 300px;
    }
    nav{
        height:100px;
    }
    #logo2{
        height: 100px;
    }
}



