*{
    margin:0;
    padding:0;
}
body{
    background-color: white;
    color: #FFAA05;
    font-family: 'Kirang Haerang', cursive;/*font all page*/
}

nav{
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
}

.button{
    cursor:pointer;
    background-color: transparent;
    color: #FFFFFFFF;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right:2px solid white;
    border-radius: 8px;
    padding:9px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration:none;
}
#logo2 {
    height: 75px;
}

footer{
  /*  position: fixed;
    bottom: 0; /*CAMBIOS EN FOOTER, para que se vea boton en form
    z-index: 1;*/
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #fff;


    font-size: 65%;
   background: #FC3727;
}

footer p{
    font-family: "Roboto Light", Tahoma, Arial, sans-serif;

}

/*Estilo para la sección inventory*/

.container {
   /* font-family: Roboto, Tahoma, Calibri;*/
    margin: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.card {
    margin: 20px;
    height: 300px;
    border: 2px solid;
    border-radius: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* display: ; */
    /* flex-wrap: wrap; */
    align-content: space-between;
    padding: 15px;
}
h1{
/*    font-family: Slice, Lego brix, type-2, fast_hand;*/
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:15px;
    font-size: 5rem;
}

/*
thead{
    background-color: #000000;
    border-radius: 20px;
}
table{
    margin: 1em 0;
    min-width: 300px;
    color: #fcfbfb;
    width: 80%;
}

tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.new{
    color:#000000;
    text-decoration:none;
    margin-left: 50px;
    border-color: #000000;
    border-radius: 2px;
    !*font-family:Tipe-2, Roboto, Tahoma, Calibri;*!
}
*/


/*FORM STYLE*/

.form-group {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.col-md6{               /*campo form*/
    height: 40px;
    font-size: 1.5rem;
    width: 800px;
    border-radius: 10px;
    border: 2px solid #008370;
}

.col-md2{
    font-size: 3.5rem;
}
form {
    display:flex;
    flex-direction: column;
    width:50%;
    margin-top:2rem;
}
input{
    text-align: center; /*centers text input form*/

}

.btn-primary{
    padding: 13px;
    background-color: #008370;
    color:white;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    font-weight: bold;
}
.container-card{
    display: flex;
}
.container-fields {
    display:flex;
    justify-content: space-around;

}
p{
    font-size: 20px;

}
a{
    text-decoration: none;
    color: white;/* Quita subrayado de anchor tag como la de buttons*/
}
.text-games{
    margin:auto;
}
.cnt-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    /*margin-top: 10px;*/
    margin: auto;

}
.videogame-img{
    border-radius: 15px;
    margin:auto;
    width:90%;
    /*margin-top:7px*/ /*Margin para alinear las imagenes por arriba cuando sea necesario*/
}
.btn-edit{
    border: none;
    padding: 8px;
    border-radius: 6px;
    background-color: #006e60;
    transition: background-color .8s;
}
.btn-edit:hover{
   /* background-color: #0f9726;*/
    background-color: #72785d;
    transform: scale(1.2);

}
.btn-delete{
    border: none;
    padding: 8px;
    border-radius: 6px;
    background-color: #591d00;
    transition: background-color .8s;
}
.btn-delete:hover{
    background-color: red;
    transform: scale(1.2);
}
.card-footer {
    margin-inline-start: auto;
    margin-top: 1rem;
    margin-right: 1rem;
}

/*RESPONSIVE form*/

/*small smartphone*/
/*smartphone*/
@media (min-width:320px) and (max-width: 767px){
    nav{
        height:50px;
    }
    #logo{
        height: 50px;
    }
    .container{
        margin-top:0;
    }
    h1 {
        margin-top:0;
        font-size: 1.6rem;
    }
    form {
        width: 95%;
        margin-top: 0.5rem;
    }
    .form-group{
        margin:0.5rem;
    }
    .col-md2{
        font-size: 1.4rem;
    }
    .col-md6 {
        height: 30px;
        font-size: 0.8rem;
    }
}
/*tablet*/
@media (min-width: 768px)and (max-width:1023px){

    form{
        width: 90%;
    }
    .button{
        font-size: 25px;
    }
    .col-md6 {
        height: 60px;
    }
}

@media (min-width: 1024px) and  (max-width:1919px) {
    form {
        width: 60%;
    }
}
@media (min-width: 1920px){
    form{
        width: 45%;
    }
}



