<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
 <!--  <link th:href="@{/style/inventory.css}" rel="stylesheet"/>-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <title>Legacy Games</title>
</head>
