<nav xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
            <a class="logo-img" href="/">
<!--                <img id="logo" th:src="@{/img/LogoLG.png}"/>-->
                <img id="logo2" th:src="@{/img/Logo-Lg.svg}"/>
            </a>

            <a class="button" href="/games/new" sec:authorize="isAuthenticated()">Add game</a>
            <a class="button2" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
            <a class="button2" href="/login" sec:authorize="isAnonymous()">Login</a>

</nav>
