<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title> Legacy Games</title>
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<h1>BIENVENIDO A LEGACY GAMES</h1>
<section class="container" th:replace="games/inventory">
    <div>
    <h3>En Legacy Games llevamos 25 años vendiendo videojuegos. Somos una empresa familiar y cercana que asesora a sus clientes y vende videojuegos con la confianza y experiencia que es nuestra seña de identidad.</h3>
    <img src="">
    </div>

</section>

<footer th:replace="fragments/footer"></footer>
</body>
<!-- <img id="fondo" th:src="@{/img/fondo.jpg}"/> -->
</html>