<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
    <h3>Inventario de video juegos</h3>
    </header>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Year</th>
            <th>Price</th>
            <th>Hashtag</th>
            <th> Discount %</th>
            <th>Price (discount)</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>PEGI</th>
            <th>Content Descriptors</th>
        </tr>
        </thead>
    </table>
    <section class="container">
        <h1 th:text="${title}"></h1>
        <p th:text="${games}"></p>
     </section>

    <footer th:replace="fragments/footer"></footer>
 </body>
