
<section class="container" xmlns:th="http://www.thymeleaf.org">
    <h1 th:text="${title}"></h1>
    <div class="container-card">
    <div class="card" th:each="game:${games}">
        <p th:text="${game.title}"></p>
        <p th:text="${game.platform}"></p>
        <p th:text="${game.pegi}"></p>
        <p th:text="${game.discount}"></p>
        <p th:text="${game.price}"></p>
        <button>
            <a th:href="'/games/new/'+${game.id}">Edit</a>
        </button> <!--RECORDAR QUE SE DEBE PONER DIRECCION DE BOTON EDIT Y DELETE-->
        <button>delete</button>
    </div>
    </div>
</section>

