<section class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h2 th:text="${title}"></h2>
    <div class="container-card">
        <div class="filter-pegi">
        <h2>PEGI</h2>
         <ul class ="game-filter">
             <li><a href="">7</a></li>
             <li><a href="">12</a></li>
             <li><a href="">16</a></li>
             <li><a href="">18</a></li>
         </ul>
        <label><input type="checkbox" id="cbox1" value="PEGI_7">PEGI 7</label><br>
        <label><input type="checkbox" id="cbox2" value="first_checkbox">PEGI 12</label><br>
        <label><input type="checkbox" id="cbox3" value="first_checkbox">PEGI 16</label><br>
        <label><input type="checkbox" id="cbox4" value="first_checkbox">PEGI 18</label><br>
        </div>
        <div class="card" th:each="game:${games}">
        <img class="videogame-img" th:src="@{/img/LogoLG.png}">
        <p class="game-title" th:text="${game.title}"></p>
        <div class="container-fields">
            <div class="category-and-name">
            <p class ="field-name-game">Platform</p>
            <p class="text-games" th:text="${game.platform}"></p>
            </div>
            <div class="category-and-name">
            <p class ="field-name-game">Pegi</p>
            <p class="text-games" th:text="${game.pegi}"></p>
            </div>
            <p class="text-games" th:text="${game.discount}"></p>
            <div class="category-and-name">
            <p class= "field-name-game">Price</p>
            <p class="text-games" th:text="${game.price}"></p>
            </div>
        </div>
        <div class="cnt-button">

            <button class="btn-edit" sec:authorize="isAuthenticated()">
                <a th:href="'/games/new/'+${game.id}">Edit</a>
            </button>
            <button class="btn-delete" sec:authorize="isAuthenticated()">
                <a th:href="'/games/delete/'+${game.id}">Delete</a>
            </button>
        </div>
    </div>
</section>

