<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<h1>Inventory Games</h1>
<a class="new" th:href="@{/games/newgames.html}">New Game</a>
<section class="container">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Platform</th>
            <th>Year</th>
            <th>Price</th>
            <th>Hashtag</th>
            <th>Discount %</th>
            <th>Price (discount)</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>PEGI</th>
            <th>Content Descriptors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <th scope="row" th:text="${game.id}"></th>
            <td th:text="${game.title}"></td>
            <td th:text="${game.platform}"></td>
            <td th:text="${game.releaseYear}"></td>
            <td th:text="${game.price}"></td>
            <td th:text="${game.tag}"></td>
            <td th:text="${game.discount}"></td>
            <td th:text="${game.discountPrice}"></td>
            <td th:text="${game.category}"></td>
            <td th:text="${game.publisher}"></td>
            <td th:text="${game.pegi}"></td>
            <td th:text="${game.pegiDescriptor}"></td>
        </tr>
        </tbody>
    </table>
</section>

<footer th:replace="fragments/footer"></footer>
</body>
