<head th:replace="fragments/head"></head>

<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
<form th:action="@{/games/new}" th:object="${game}" method="post">
    <div class="form-group">
        <input type="hidden" th:field="*{id}">
        <label class="col-md2" for="title"> Title</label>
        <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title" placeholder="Add title">
    </div>
    <div class="form-group">
        <label class="col-md2" for="platform">Platform</label>
        <input th:field="*{platform}" type="text" class="col-md6 form-control form-control-sm" id="platform" placeholder="Add platform">
      <!--  para mostrar lista desplegable de la plataforma
            <option th:field="*{platform}" value="platform0">choose platform</option>
            <option th:field="*{platform}" value="platform1">Wii</option>
            <option th:field="*{platform}" value="platform2">NES</option>
            <option th:field="*{platform}" value="platform3">GB</option>
            <option th:field="*{platform}" value="platform4">DS</option>
            <option th:field="*{platform}" value="platform5">PS</option>
            <option th:field="*{platform}" value="platform6">PS2</option>
            <option th:field="*{platform}" value="platform7">PS3</option>
            <option th:field="*{platform}" value="platform8">PS4</option>
            <option th:field="*{platform}" value="platform9">X360</option>
            <option th:field="*{platform}" value="platform10">3DS</option>
            <option th:field="*{platform}" value="platform11">N64</option>
            <option th:field="*{platform}" value="platform12">XB</option>
            <option th:field="*{platform}" value="platform13">SNES</option>
            <option th:field="*{platform}" value="platform14">GBA</option>
            <option th:field="*{platform}" value="platform15">2600</option>
            <option th:field="*{platform}" value="platform16">PSP</option>
            <option th:field="*{platform}" value="platform17">PC</option>!-->
        </input>
    </div>
    <div class="form-group">
        <label class="col-md2" for="releaseYear">Release year</label>
        <input th:field="*{releaseYear}" type="text" class="col-md6 form-control form-control-sm" id="releaseYear" placeholder="Add release year">
    </div>
    <div class="form-group">
        <label class="col-md2" for="price">Price</label>
        <input th:field="*{price}" type="text" class="col-md6 form-control form-control-sm" id="price" placeholder="Add price">
    </div>
    <div class="form-group">
        <label class="col-md2" for="tag">Tag</label>
        <input th:field="*{tag}" type="text" class="col-md6 form-control form-control-sm" id="tag" placeholder="Add tag">
 <!--Para poner una lista desplegable del tag
            <option th:field="*{tag}" value="tag0">choose tag</option>
            <option th:field="*{tag}" value="tag1">Super</option>
            <option th:field="*{tag}" value="tag2">Mega</option>
            <option th:field="*{tag}" value="tag3">Pack2</option>!-->
        </input>
    </div>
    <div class="form-group">
        <label class="col-md2" for="discount">Discount</label>
        <input th:field="*{discount}" type="text" class="col-md6 form-control form-control-sm" id="discount" placeholder="Add discount">
    </div>
    <div class="form-group">
        <label class="col-md2" for="discountPrice">Discount price</label>
        <input th:field="*{discountPrice}" type="text" class="col-md6 form-control form-control-sm" id="discountPrice" placeholder="Add discount price">
    </div>
    <div class="form-group">
        <label class="col-md2" for="category">Category</label>
        <select th:field="*{category}" type="text" class="col-md6 form-control form-control-sm" id="category" placeholder="Add category">
            <option th:each="category: ${category}"
                    th:value="${category.id}"
                    th:text="${category.name}"
            >
            </option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-md2" for="publisher">Publisher</label>
        <input th:field="*{publisher}" type="text" class="col-md6 form-control form-control-sm" id="publisher" placeholder="Add publisher">
    </div>
    <div class="form-group">
        <label class="col-md2" for="pegi_id">Pegi</label>
        <select th:field="*{pegi}" type="text" class="col-md6 form-control form-control-sm" id="pegi_id" placeholder="Add pegi">
            <option th:each="pegi: ${pegis}"
                    th:value="${pegi.id}"
                    th:text="${pegi.name}"
            >
            </option>
        </select>
    </div>
    <!--<div class="form-group">
        <label class="col-md2" for="pegiDescriptor">Pegi descriptor</label>
        <input th:field="*{pegiDescriptor}" type="text" class="col-md6 form-control form-control-sm" id="pegiDescriptor" placeholder="Add pegi descriptor">
    </div>-->
    <div class="card-footer">
        <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
    </div>
</form>
</section>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>